.app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.game-title {
  font-size: 2.5rem;
  text-align: center;
}
.game-tiles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
